asgiref==3.5.2
botocore==1.27.61
certifi==2022.6.15
charset-normalizer==2.1.0
cloudinary==1.29.0
dj-config-url==0.1.1
Django==4.1
django-cloudinary-storage==0.3.0
django-crispy-forms==1.14.0
django-filter==22.1
django-phonenumber-field==6.3.0
gunicorn==20.1.0
idna==3.3
jmespath==1.0.1
phonenumbers==8.12.54
Pillow==9.2.0
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-dotenv==0.20.0
requests==2.28.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
stripe==4.0.2
urllib3==1.26.11
whitenoise==6.2.0
